{{#if success_msg}}
<div class="text-success fw-bold d-inline-flex fs-6">{{success_msg}}</div>
{{/if}}
{{#if error_msg}}
<div class="text-danger fw-bold d-inline-flex fs-6">{{error_msg}}</div>
{{/if}}